# PlatformIO Build Files
**/.pio
**/.piolibdeps
**/.clang_complete
**/.gcc-flags.json
**/.vscode/c_cpp_properties.json

# PlatformIO Project Configurations
platformio.ini.orig
.vscode/.browse.c_cpp.db*

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Build files and output binaries
*.elf
*.bin
*.hex
*.map

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Python
__pycache__/
*.py[cod]
